    <header class="nav-wrapper row orange">
        <div class="col s12">
            <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <span class="brand-logo"<%= data.translate("help_title") %></span>
        </div>
    </header>
</nav>
<main>
   <div class="container">
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("help_rules_title") %></header>
                <p<%= data.translate("help_rules_content") %></p>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("help_flag_title") %></header>
                <p<%= data.translate("help_flag_content") %></p>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("help_save_title") %></header>
                <p<%= data.translate("help_save_content") %></p>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("help_keyboard_title") %></header>
                <p<%= data.translate("help_keyboard_content") %></p>
            </div>
        </article>
    </div>
</main>

