    <header class="nav-wrapper row orange">
        <div class="col s12">
            <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <span class="brand-logo"<%= data.translate("highscores_title") %></span>
            <ul class="right">
                <li><a id="delete-highscores"<%= data.translate("action_delete", undefined, "title") %><i class="material-icons">delete</i></a></li>
            </ul>
        </div>
    </header>
</nav>
<main>
    <section class="container">
        <ul id="highscores" class="collection with-header">
            <li class="collection-header">
                <div class="input-field">
                    <select id="gametype" aria-controls="highscores">
                        <option value="8x8:10" selected<%= data.translate("menu_difficulty_beginner") %></option>
                        <option value="16x16:40"<%= data.translate("menu_difficulty_advanced") %></option>
                        <option value="30x16:99"<%= data.translate("menu_difficulty_expert") %></option>
                    </select>
                    <label for="gametype"<%= data.translate("highscores_select_label") %></label>
                </div>
            </li>
            <li class="collection-item" id="noresults"<%= data.translate("highscores_none") %></li>
        </ul>
    </section>
</main>
<dialog id="highscores-clear" class="modal">
    <div class="modal-content">
        <p<%= data.translate('highscores_confirm_clear') %></p>
    </div>
    <div class="modal-footer">
        <button id="modal-confirm" class="modal-action modal-close waves-effect btn-flat red-text"<%= data.translate("highscores_clear_yes") %></button>
        <button class="modal-action modal-close waves-effect btn-flat"<%= data.translate("highscores_clear_no") %></button>
    </div>
</dialog>
