<% const getPackageTar = (module) => {
        const pkg = require(module + "/package.json");
        return module + "-" + pkg.version + ".tgz";
    },
    makeURL = (path) => {
        if(path.includes("~")) {
            path = path.substring(path.lastIndexOf("~")+2);
            const module = path.match(/^[^\/]+/)[0];
            console.log(path, module);
            return "https://registry.npmjs.org/"+module+"/-/"+getPackageTar(module);
        }
        else if(path.startsWith("./")) {
            return path.replace("./", "https://raw.githubusercontent.com/freaktechnik/mines.js/"+data.tag+"/");
        }
        else if(path.startsWith("(webpack)")) {
            return "https://registry.npmjs.org/webpack/-/"+getPackageTar("webpack");
        }
        else {
            return path;
        }
    },
    makeName = (name) => {
        if(name.includes("~")) {
            name = name.substring(name.lastIndexOf("~")+2);
            const module = name.match(/^[^\/]+/)[0];
            return getPackageTar(module);
        }
        else if(name.startsWith("(webpack)")) {
            return getPackageTar("webpack");
        }
        else {
            return name;
        }
    } %>
    <header class="nav-wrapper row orange">
        <div class="col s12">
            <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <span class="brand-logo"<%= data.translate("license_title") %></span>
        </div>
    </header>
</nav>
<main>
   <div class="container">
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("license_js_title") %></header>
                <table class="striped" id="jslicense-labels1">
                    <caption>
                        <details>
                            <summary<%= data.translate("license_js_caption") %></summary>
                            <p<%= data.translate("license_js_details") %></p>
                        </details>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col"<%= data.translate("license_js_thead_file") %></th>
                            <th scope="col"<%= data.translate("license_js_thead_license") %></th>
                            <th scope="col"<%= data.translate("license_js_thead_source") %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO make the source links and licenses useful -->
                        <% var files = {}, swFiles = [];
                            for(var m of data.files.modules) {
                                if(m.name.search(/\.js$/) != -1) {
                                    for(var chunk of m.chunks) {
                                        if(!files[chunk])
                                            files[chunk] = [];
                                        files[chunk].push(m.name);
                                    }
                                }
                            }
                            for(var c of data.files.chunks) { %>
                        <tr>
                            <td><a href="<%= c.files[0] %>" target="_blank"><%= c.files[0] %></a></td>
                            <td>
                                <% if(files[c.id].some((f) => f.includes("~"))) { %><a href="http://www.jclark.com/xml/copying.txt" target="_blank" hreflang="en">Expat</a><br><% } %>
                                <a href="http://www.mozilla.org/MPL/2.0" target="_blank" hreflang="en" rel="noopener">MPL-2.0</a>
                            </td>
                            <td><% var cfiles = files[c.id]; for(var f in cfiles) { %><a rel="noopener" href="<%= makeURL(cfiles[f]) %>" target="_blank"><%= makeName(cfiles[f]) %></a><% if(f < cfiles.length - 1) { %><br><% }} %></td>
                        </tr>
                        <% } %>
                        <tr>
                            <td><a href="sw.js" target="_blank">sw.js</a></td>
                            <td>
                                <a href="http://www.jclark.com/xml/copying.txt" target="_blank" hreflang="en" rel="noopener">Expat</a><br>
                                <a href="http://www.mozilla.org/MPL/2.0" target="_blank" hreflang="en" rel="noopener">MPL-2.0</a>
                            </td>
                            <td>
                                <a href="<%= makeURL('./assets/sw/global-events.js') %>" rel="noopener">./assets/sw/global-events.js</a><br>
                                <a href="<%= makeURL('./~/offline-plugin/') %>" rel="noopener"><%= makeName('./~/offline-plugin/') %></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("license_font_title") %></header>
                <p><span<%= data.translate("license_font_content", {"font":"Roboto"}) %></span> <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" hreflang="en" rel="noopener">Apache License 2.0</a></p>
                <p><span<%= data.translate("license_font_content", {"font":"Material Icons"}) %></span> <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" hreflang="en" rel="noopener">CC-BY 4.0</a></p>
                <p><span<%= data.translate("license_font_content", {"font":"Font Awesome"}) %></span> <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL" target="_blank" hreflang="en" rel="noopener">SIL OFL 1.1</a></p>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("license_about_title") %></header>
                <p><span<%= data.translate("license_about_license_before") %></span> <a href="LICENSE" target="_blank" hreflang="en" rel="noopener">MPL-2.0</a><span<%= data.translate("license_about_license_after") %></span></p>
                <a class="btn waves-effect waves-light blue" href="https://github.com/freaktechnik/mines.js" hreflang="en" rel="external noopener" target="_blank"<%= data.translate("license_about_source") %></a>
            </div>
        </article>
    </div>
</main>
