    <header class="nav-wrapper row">
        <div class="col s12">
            <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <span class="brand-logo"<%= data.translate("settings_title") %></span>
        </div>
    </header>
</nav>
<div id="strings" class="hidden" hidden>
    <div<%= data.translate("highscores_confirm_clear") %></div>
</div>
<main>
    <div class="container">
        <article class="card">
            <div class="card-content row">
                <header class="card-title"<%= data.translate("settings_gameplay") %></header>
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 switch">
                            <label>
                                <input id="vibration" type="checkbox">
                                <span class="lever"></span>
                                <span<%= data.translate("settings_vibration") %></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 switch">
                            <label>
                                <input id="autotoggle" type="checkbox">
                                <span class="lever"></span>
                                <span<%= data.translate("settings_automodeswitch") %></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 switch">
                            <label>
                                <span<%= data.translate("settings_manualuncover") %></span>
                                <input id="autouncover" type="checkbox">
                                <span class="lever"></span>
                                <span<%= data.translate("settings_autouncover") %></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" id="fieldsize" min="0.1" value="1" step="0.1">
                            <label class="active" for="fieldsize"<%= data.translate("settings_fieldsize") %></label>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("settings_highscores") %></header>
                <button class="btn waves-effect waves-light"<%= data.translate("settings_highscores_clear") %></button>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title"<%= data.translate("settings_about_title") %></header>
                <ul>
                    <li<%= data.translate("settings_about_content") %></li>
                    <li<%= data.translate("settings_about_version", {"version": data.options.version}) %></li>
                    <li>
                        <a href="licenses.html"<%= data.translate("settings_licenses_show") %></a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</main>

