    <header class="nav-wrapper row">
        <div class="col s12">
            <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <span data-l10n-id="settings_title" class="brand-logo">Settings</span>
        </div>
    </header>
</nav>
<div id="strings" class="hidden" hidden>
    <div data-l10n-id="highscores_confirm_clear">Do you really want to delete all high scores?</div>
</div>
<main>
    <div class="container">
        <article class="card">
            <div class="card-content row">
                <header class="card-title" data-l10n-id="settings_gameplay">Gameplay</header>
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 switch">
                            <label>
                                <input id="vibration" type="checkbox">
                                <span class="lever"></span>
                                <span data-l10n-id="settings_vibration">Haptic Feedback</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 switch">
                            <label>
                                <input id="autotoggle" type="checkbox">
                                <span class="lever"></span>
                                <span data-l10n-id="settings_automodeswitch">Switch mode after first cell is uncovered</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" id="fieldsize" min="0.1" value="1" step="0.1">
                            <label class="active" for="fieldsize" data-l10n-id="settings_fieldsize">Field-cell scale</label>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title" data-l10n-id="settings_highscores">High Scores</header>
                <button class="btn waves-effect waves-light" data-l10n-id="settings_highscores_clear">Delete All High Scores</button>
            </div>
        </article>
        <article class="card">
            <div class="card-content">
                <header class="card-title" data-l10n-id="settings_about_title">About</header>
                <ul>
                    <li data-l10n-id="settings_about_content">This application was written by Martin Giger. A big thank you to all translators that helped localizing this application!</li>
                    <li data-l10n-id="settings_about_version" data-l10n-args='{"version": "<%= data.version %>"}'>Version <%= data.version %></li>
                    <li>
                        <a href="licenses.html" data-l10n-id="settings_licenses_show">Show License Information</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</main>

