body {
    font-family: FiraSans;
    overflow: auto;
}

gaia-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.gaia-list {
    margin-top: 50px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: fixed;
    top: -10px;
    left: -10px;
    height: 0;
    width: 0;
    visibility: hidden;
}

