@font-face {
  font-family: 'mine';
  src: url('../font/mine.eot');
  src: url('../font/mine.eot#iefix') format('embedded-opentype'),
       url('../font/mine.woff') format('woff'),
       url('../font/mine.ttf') format('truetype'),
       url('../font/mine.svg#mine') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: FiraSans;
    overflow: auto;
}

gaia-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.gaia-list {
    margin-top: 50px;
}

.hidden,
[hidden] {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: fixed;
    top: -10px;
    left: -10px;
    height: 0;
    width: 0;
    visibility: hidden;
}

.custom_icon {
    font-family: mine;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}

[data-whatinput='keyboard'] a:focus,
[data-whatinput='keyboard'] button:focus,
[data-whatinput='keyboard'] select:focus {
    outline: 1px dotted !important;
}

