/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at https://mozilla.org/MPL/2.0/.
 */

#fieldcontainer {
    width: 100%;
    font-size: initial;
}

table {
    border-spacing: 0 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-property: box-shadow;
    transition-duration: .5s;
    margin: 1px auto;
    color: black;
    white-space: nowrap;
    width: initial !important;
}

tr {
    box-sizing: content-box !important;
}

td {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: lightgray;
    outline: 1px solid gray;
    border: 3px solid transparent;
    padding: 0;
    cursor: default;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
    border-radius: 0;
}

body:not([data-whatinput='keyboard']) td {
    transition-property: background-color;
    transition-duration: 0.2s;
}

[data-whatinput='keyboard'] td:focus {
    background-color: white;
    border: 3px inset lightgray;
}

.one:not(.covered)::after {
    content: "1";
    color: blue;
}
.two:not(.covered)::after {
    content: "2";
    color: green;
}
.three:not(.covered)::after {
    content: "3";
    color: red;
}
.four:not(.covered)::after {
    content: "4";
    color: navy;
}
.five:not(.covered)::after {
    content: "5";
    color: maroon;
}
.six:not(.covered)::after {
    content: "6";
    color: teal;
}
.seven:not(.covered)::after {
    content: "7";
    color: purple;
}
.eight:not(.covered)::after {
    content: "8";
    color: black;
}

.mine:not(.covered)::after,
.gameover .mine::after {
    content: "9";
    font-family: mine;
    font-weight: initial;
}
.covered {
    border: 3px outset lightgray;
    color: transparent;
}

.gameover .covered {
    color: black;
}

.invalid {
    background-color: red !important; /* Keyboard styles on td overwrite this else */
    transition-property: background-color;
    transition-duration: 0.2s;
}

.paused {
    opacity: 0.7;
    cursor: not-allowed;
}

table:not(.done):not(.paused) .covered:active {
    border: 3px inset gray;
}

.flagged::before {
    content: "flag";
    color: red;
    font-size: 1.2em;
    position: absolute;
    left: 0;
    width: 1.1em;
    width: calc(1.5em - 6px);
    text-align: center;
    font-weight: normal;
    font-family: "Material Icons";
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

.done:not(.gameover) {
    box-shadow: 0 0 3em green;
}
.gameover {
    box-shadow: 0 0 3em red;
}

