/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/.
 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    flex: 1;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.667em;
    color: #919191;
    border-radius: 0;
    height: 100%;
    line-height: 45px;
    vertical-align: middle;
}

[role="toolbar"] button {
    background-image: none;
}

#fieldcontainer {
    margin-bottom: 45px;
    display:flex;
    justify-content:space-between;
    flex-flow:column wrap
}

.spacer {
    flex: 2;
}

table {
    border-spacing: 0 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: FiraSans;
    transition-property: box-shadow;
    transition-duration: .5s;
    margin: 1px auto;
    color: black;
    white-space: nowrap;
}

td {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    background: lightgray;
    outline: 1px solid gray;
    border: 3px solid transparent;
    padding: 0;
    cursor: default;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    position: relative;
}

[data-whatinput='keyboard'] td:focus {
    background: white;
}

.high-contrast td {
    outline: 2px black;
    background: white;
}

.air {
    color: transparent;
}
.one {
    color: blue;
}
.two {
    color: green;
}
.three {
    color: red;
}
.four {
    color: navy;
}
.five {
    color: maroon;
}
.six {
    color: teal;
}
.seven {
    color: purple;
}
.eight {
    color: black;
}

.high-contrast td:not(.air) {
    color: black !important;
}

.mine {
    font-family: mine;
    font-weight: initial;
}
.covered {
    border: 3px outset lightgray;
    color: transparent;
}

.high-contrast .covered {
    border: 3px solid white;
    background: black;
}

table:not(.done) .covered:active {
    border: 3px inset gray;
}

.gameover .covered.mine {
    color: initial;
}

.high-contrast .gameover .covered.mine {
    color: white !important;
}

.flagged::before {
    content: "flag";
    color: red;
    font-size: 1.2em;
    position: absolute;
    left: .4em;
    font-weight: 500;
    font-family: "gaia-icons";
    font-style: normal;
    text-rendering: optimizelegibility;
}

.high-contrast td.flagged {
    background-color: red;
    color: red !important;
}

.high-contrast .flagged::before {
    color: transparent;
}

.done:not(.gameover) {
    box-shadow: 0 0 3em green;
}
.gameover {
    box-shadow: 0 0 3em red;
}

